.lightYellowHeader {
				background-color:#CCD841;
				padding:10px;
				position:absolute;
				top:40px;
				height:80px;
				left:10px;
				width:820px;
				font-size:x-large;
}
.bodyOrange {
				font-family: "Verdana";
				background-color:#FFC58A;
				width:800px;
}
.main {
				background-color:white;
				padding:20px;
				position:absolute;
				top:120px;
				left:160px;
				width:650px;
				font-size: smaller;
				height:600px;
}
.goBackTop {
				font-size: x-small;
				background-color: #EBEBEB;
				padding:10px;
				position:absolute;
				top:10px;
				height:25px;
				left:10px;
				width:820px;
}
.leftNavBar {
				background-color: #CAE4FF;
				padding:20px;
				font-size:small;
				position:absolute;
				top:120px;
				left:10px;
				width:150px;
				height:600px;

}
.tableRefined, .grid {
				margin:5px;
				background-color:black;
				color:white;
				font-family: Verdana;
				font-size:x-small;
				border-width: 1px 1px 1px 1px;
				border-color:black;
				border-style:solid;
				width:400px;
}
.trRefined, .gridrow
{
	color:black;
    border-width: 1px 1px 1px 1px;
    padding: 10px;
    background-color: #FFC;
    text-align:left;
    vertical-align:top;
}
.trRefined_alternate, .gridrow_alternate
{
	color:black;
    border-width: 1px 1px 1px 1px;
    padding: 10px;
    background-color: Gray;
    text-align:left;
    vertical-align:top;
}
.validation
{
    color: Red;
}


