<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add this element -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
 
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.connection_string">Data Source=VANDK6H3B1;Initial Catalog=MonthlyParking;Integrated Security=True</property>
      <!--
      <property name="connection.release_mode">on_close</property>
      <property name="command_timeout">340</property>
      -->
      <mapping assembly="OldProject.ORM.Domain" />
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
  </connectionStrings>

  <appSettings>
    <!-- 
    2008Sep06 David Gadd
    The PersistenceMechanism key is used to configure which implementation class set to pass to the interfaces.
    Allows for the possibility of multiple persistence mechanisms in the repository.
    -->
    <add key ="PersistenceMechanism" value="NHibernate" />
  </appSettings>

</configuration>